@charset "UTF-8";
@media (max-width: 767px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  .content {
    height: 100%;
  }
  .one,
  .two,
  .three {
    margin-bottom: 100px;
    /* 간격 조절을 위한 마진 추가 */
  }
}
@media (min-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  .content {
    height: 100%;
  }
  .one,
  .two,
  .three {
    text-align: center;
    margin-bottom: 200px;
    /* 간격 조절을 위한 마진 추가 */
  }
  p,
  h2, h1, li {
    color: #fff;
  }
}