@media (max-width: 767px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  #section0 {
    background-color: red;
    display: flex;
    justify-content: center;
  }
  #section1 {
    background-color: yellow;
    display: flex;
    justify-content: center;
  }
  #section2 {
    background-color: blue;
    display: flex;
    justify-content: center;
  }
  #section3 {
    background-color: pink;
    display: flex;
    justify-content: center;
  }
  #section4 {
    background-color: red;
    display: flex;
    justify-content: center;
  }
  #section5 {
    background-color: gray;
    display: flex;
    justify-content: center;
  }
  #section6 {
    background-color: skyblue;
    display: flex;
    justify-content: center;
  }
  #section7 {
    background-color: red;
    display: flex;
    justify-content: center;
  }
  #header {
    flex-direction: column;
    /* justify-content: center; */
    display: flex;
    /* right: 18%; */
    position: fixed;
    width: 100%;
    align-items: center;
    margin-top: 20px;
  }
  #header #logo {
    width: 20%;
    max-width: 200px;
    height: 50%;
    display: block;
  }
  .navigation {
    display: none;
  }
  .section {
    height: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.5em;
    display: flex;
  }
  .main_content {
    flex: 3;
  }
  .nav_dot ul {
    display: flex;
    list-style: none;
  }
}
@media (min-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  li {
    list-style: none;
    text-align: center;
  }
  .nav_dot {
    display: none;
  }
  #header {
    height: 100px;
    padding: 30px;
    z-index: 1;
    position: fixed;
  }
  #header #logo {
    width: 100px;
    height: 100px;
  }
  #section0 {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section1 {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section2 {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section2 .from-radio {
    position: absolute;
    bottom: 10px;
  }
  #section2 .from-radio label {
    margin-right: 30px;
  }
  #section3 {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section3 .main-title {
    margin-bottom: 18px;
  }
  #section3 .form-checkbox {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
  }
  #section3 .form-checkbox label {
    width: 160px;
  }
  #section4 {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section5 {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section6 {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section7 {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-size: 2em;
  }
  .section .main {
    display: flex;
    justify-content: space-between;
  }
  .section .main_content {
    width: 580;
    display: flex;
    flex-direction: column;
  }
  .section .main_content .main-form {
    position: relative;
    margin-top: 86px;
  }
  .section .main_content .main-form input[type=text] {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    width: 80%;
    border-radius: 1px;
    border-color: #fff;
    border-width: 0 0 2px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    outline: none;
  }
  .section .main_content .main-form input[type=button] {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 46px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
  }
  .navigation {
    top: 25%;
    position: fixed;
    z-index: 1;
    right: 0;
    margin-right: 30px;
  }
  .navigation .nav-list li {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .main_dump {
    flex: 1;
  }
}