@media (max-width: 767px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  #section0 {
    background-color: red;
    display: flex;
    justify-content: center;
  }
  #section1 {
    background-color: yellow;
    display: flex;
    justify-content: center;
  }
  #section2 {
    background-color: blue;
    display: flex;
    justify-content: center;
  }
  #section3 {
    background-color: pink;
    display: flex;
    justify-content: center;
  }
  #section4 {
    background-color: red;
    display: flex;
    justify-content: center;
  }
  #section5 {
    background-color: gray;
    display: flex;
    justify-content: center;
  }
  #section6 {
    background-color: skyblue;
    display: flex;
    justify-content: center;
  }
  #section7 {
    background-color: red;
    display: flex;
    justify-content: center;
  }
  #header {
    flex-direction: column;
    /* justify-content: center; */
    display: flex;
    /* right: 18%; */
    position: fixed;
    width: 100%;
    align-items: center;
    margin-top: 20px;
  }
  #header #logo {
    width: 20%;
    max-width: 200px;
    height: 50%;
    display: block;
  }
  .navigation {
    display: none;
  }
  .section {
    height: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.5em;
    display: flex;
  }
  .main_content {
    flex: 3;
  }
  .nav_dot ul {
    display: flex;
    list-style: none;
  }
}
@media (min-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  input[type=text] {
    border-color: #fff;
    width: 80%;
    border-width: 0 0 5px;
    background: rgba(0, 0, 0, 0);
    border-radius: 1px;
  }
  input[type=button] {
    width: 100;
    height: 50;
  }
  li {
    list-style: none;
    text-align: center;
  }
  .nav_dot {
    display: none;
  }
  #header {
    height: 100px;
    padding: 30px;
    z-index: 1;
    position: fixed;
  }
  #header #logo {
    width: 100px;
    height: 100px;
  }
  #section0 {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section1 {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section2 {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section3 {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section4 {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section5 {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section6 {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section7 {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content {
    height: 100%;
    position: relative;
  }
  .content #section1 #title_box div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .content #section1 #title_box div h1 {
    font-size: 96px;
    color: white;
  }
  .content #section1 #title_box div h2 {
    font-size: 60px;
    color: white;
  }
  .content #section1 .section {
    width: 100%;
    height: 300px;
    background-color: blue;
  }
  .main {
    display: flex;
    justify-content: space-between;
  }
  .section {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-size: 2em;
  }
  .main_content {
    width: 580;
    display: flex;
    flex-direction: column;
  }
  .main-title {
    margin-bottom: 40px;
  }
  .navigation {
    top: 25%;
    position: fixed;
    z-index: 1;
    right: 0;
    margin-right: 30px;
  }
  .navigation .nav-list li {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .main_dump {
    flex: 1;
  }
}