@font-face {
  font-family: "JSDongkang";
  src: url("../../font/JSDongkang-Bold.ttf");
}
@font-face {
  font-family: "JSDongkang-Reg";
  src: url("../../font/JSDongkang-Regular.ttf");
}
@media (max-width: 767px) {
  .three {
    height: 100vh;
  }
  .three .box .top {
    text-align: center;
    overflow: hidden;
    padding-top: 240px;
    height: 30%;
    padding-left: 32px;
    padding-right: 32px;
  }
  .three .box .top h1 {
    font-size: 26px;
    color: #ffffff;
  }
  .three .box .top h4 {
    margin-top: 64px;
    color: #ffffff;
  }
  .three .box .gallery {
    height: 70%;
  }
  .three .box .gallery .cards {
    width: 100%;
  }
  .three .box .gallery .cards li {
    list-style: none;
    height: 285px;
    width: 225px;
    background-color: #9d7cce;
    position: absolute;
    border-radius: 10px;
  }
}
@media (min-width: 1024px) {
  .three .top {
    height: 20%;
    padding-top: 64px;
    text-align: center;
  }
  .three .top h1 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: -30px;
  }
  .three .top h6 {
    color: #ffffff;
    font-size: 24px;
  }
  .three .gallery {
    height: 80%;
    overflow: hidden;
  }
  .three .gallery .cards {
    padding-left: 108px;
  }
  .three .gallery .cards li {
    list-style: none;
    height: 500px;
    width: 400px;
    background-color: #9d7cce;
    position: absolute;
    border-radius: 30px;
  }
}