@charset "UTF-8";
/* 모바일 버전 스타일 */
@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    background-image: url("/Users/seogyumin/Desktop/recruiting-site/src/images/space_backgroud.png");
    background-size: cover;
    font-family: "JSDongkang";
  }
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
  }
  .footer_copyright {
    text-align: center;
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 0.5rem;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    /* 상단 여백 조절 */
    left: 20px;
    right: 10px;
  }
  .logo {
    max-width: 50px;
    /* 로고의 최대 너비 조정 */
  }
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  nav li {
    margin-right: 25px;
  }
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  nav a:hover {
    color: #00f;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(70vh + 20px);
    /* 3/2 지점에 위치하도록 조절 */
  }
  .main-introduction {
    text-align: center;
  }
  .main-introduction-first-one,
  .main-introduction-first-two {
    margin-bottom: 20px;
    /* 두 개의 요소 사이에 여백을 줍니다. */
  }
  h3 {
    color: #fff;
    /* 흰색 글씨 설정 */
    font-size: 15px;
    margin: 0;
    /* 기본 마진 제거 */
  }
  h1 {
    color: #fff;
    /* 흰색 글씨 설정 */
    font-size: 25px;
    margin: 0;
    /* 기본 마진 제거 */
  }
}
/* PC 버전 스타일 */
@media (min-width: 1024px) {
  @font-face {
    font-family: "JSDongkang";
    src: url("/Users/seogyumin/Desktop/recruiting-site/src/font/JSDongkang-Regular.ttf");
  }
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    background-image: url("/Users/seogyumin/Desktop/recruiting-site/src/images/space_backgroud.png");
    background-size: cover;
    font-family: "JSDongkang";
  }
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
  }
  .footer_copyright {
    text-align: center;
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20;
    left: 30;
    right: 30;
  }
  .logo {
    max-width: 50px;
    /* 로고의 최대 너비 조정 */
  }
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  nav li {
    margin-right: 60px;
  }
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  nav a:hover {
    color: #00f;
  }
  /* SCSS */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 화면 높이의 100%를 차지하도록 설정하여 화면 정 가운데에 위치합니다. */
  }
  .main-introduction {
    text-align: center;
  }
  .main-introduction-first-one,
  .main-introduction-first-two {
    margin-bottom: 20px;
    /* 두 개의 요소 사이에 여백을 줍니다. */
  }
  h3 {
    color: #fff;
    /* 흰색 글씨 설정 */
    font-size: 30px;
    margin: 0;
    /* 기본 마진 제거 */
  }
  h1 {
    color: #fff;
    /* 흰색 글씨 설정 */
    font-size: 40px;
    margin: 0;
    /* 기본 마진 제거 */
  }
}