@font-face {
  font-family: "JSDongkang";
  src: url("../../font/JSDongkang-Bold.ttf");
}
@font-face {
  font-family: "JSDongkang-Reg";
  src: url("../../font/JSDongkang-Regular.ttf");
}
@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: "JSDongkang";
  }
  body .pc {
    display: none;
  }
  body #moveMan-mobile {
    pointer-events: none;
    position: fixed;
    z-index: 3;
  }
  body #moveMan-pc {
    display: none;
  }
  body .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 20;
    left: 30;
    right: 30;
  }
  body .header-container .logo img {
    width: 35;
    height: 35;
  }
  body .header-container .form button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }
  body .header-container .form button h2 {
    color: white;
    font-size: 12;
  }
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  body .mobile .space_one_m {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100vh;
    top: 0%;
  }
  body .mobile .space_one_m img {
    width: 100%;
    height: 100%;
  }
  body .mobile .space_two_m {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100vh;
    top: 100%;
  }
  body .mobile .space_two_m img {
    width: 100%;
    height: 100%;
  }
  body .mobile .space_three_m {
    position: absolute;
    z-index: -4;
    width: 100%;
    height: 100vh;
    top: 200%;
  }
  body .mobile .space_three_m img {
    width: 100%;
    height: 100%;
  }
  body .mobile .space_four_m {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100vh;
    top: 300%;
  }
  body .mobile .space_four_m img {
    width: 100%;
    height: 100%;
  }
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line {
    width: 1px;
    height: 400vh;
    left: 20%;
    border-left: 2px dotted white;
    position: absolute;
  }
  .line .line_box {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90vh;
    margin-left: -15px;
  }
  .line .line_box button {
    z-index: 30;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .line .line_box button img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: "JSDongkang";
  }
  .mobile {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 20;
    left: 30;
    right: 30;
    z-index: 30;
  }
  .header-container .form button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }
  .header-container .form button h2 {
    color: white;
  }
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .pc .space_one {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100vh;
    top: 0%;
  }
  .pc .space_one img {
    width: 100%;
    height: 100%;
  }
  .pc .space_two {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100vh;
    top: 100%;
  }
  .pc .space_two img {
    width: 100%;
    height: 100%;
  }
  .pc .space_three {
    position: absolute;
    z-index: -4;
    width: 100%;
    height: 100vh;
    top: 200%;
  }
  .pc .space_three img {
    width: 100%;
    height: 100%;
  }
  .pc .space_four {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100vh;
    top: 300%;
  }
  .pc .space_four img {
    width: 100%;
    height: 100%;
  }
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #moveMan-pc {
    pointer-events: none;
    position: fixed;
    z-index: 1;
  }
  #moveMan-mobile {
    display: none;
  }
  .line {
    width: 1px;
    height: 400vh;
    left: 20%;
    border-left: 2px dashed white;
    opacity: 0.3;
    position: absolute;
  }
  .line .line_box {
    display: none;
  }
  .move_box {
    position: absolute;
    left: 20%;
  }
  .move_box .line_box {
    opacity: 1;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90vh;
    margin-left: -30px;
  }
  .move_box .line_box button {
    z-index: 30;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .move_box .line_box button img {
    width: 100%;
    height: 100%;
  }
}