@charset "UTF-8";
@media (max-width: 767px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  .content {
    height: 100%;
  }
  .content h1 {
    text-align: center;
    color: white;
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  .content {
    height: 25%;
  }
  .content .title {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
  }
  .animation-container {
    position: relative;
    height: 25%;
    text-align: center;
  }
  .animation-container .moving-text-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-10%);
    white-space: nowrap;
    font-size: 50px;
    color: #a2a2a2;
  }
  .animation-container .moving-text-left:hover {
    color: rgb(108, 108, 216);
  }
  .animation-container .moving-text-center {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-10%);
    white-space: nowrap;
    font-size: 50px;
    color: #a2a2a2;
  }
  .animation-container .moving-text-center:hover {
    color: rgb(240, 90, 90);
  }
  .animation-container .moving-text-right {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-10%);
    white-space: nowrap;
    font-size: 50px;
    color: #a2a2a2;
  }
  .animation-container .moving-text-right:hover {
    color: rgb(255, 184, 69);
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2개의 열 */
    grid-template-rows: 1fr 1fr; /* 2개의 행 */
    gap: 20px; /* 박스 간격 설정 */
  }
  .container .body-text-left {
    height: 50%;
    text-align: center;
  }
  .container .body-text-left h3 {
    color: white;
    font-size: 30px;
  }
  .container .body-text-left p {
    color: white;
    font-size: 15px;
  }
  .body-text-center {
    height: 50%;
    text-align: center;
  }
  .body-text-center h3 {
    color: white;
    font-size: 30px;
  }
  .body-text-center p {
    color: white;
    font-size: 15px;
  }
  .body-text-right {
    height: 50%;
    text-align: center;
  }
  .body-text-right h3 {
    color: white;
    font-size: 30px;
  }
  .body-text-right p {
    color: white;
    font-size: 15px;
  }
}