@media (max-width: 767px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  .content {
    height: 100%;
  }
  .content h1 {
    text-align: center;
    color: white;
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  .content {
    height: 25%;
  }
  .content h1 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
  }
  .animation-container {
    position: relative;
    height: 25%;
  }
  .animation-container .moving-text-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-10%);
    white-space: nowrap;
    font-size: 50px;
    color: #a2a2a2;
  }
  .animation-container .moving-text-center {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-10%);
    white-space: nowrap;
    font-size: 50px;
    color: #a2a2a2;
  }
  .animation-container .moving-text-right {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-10%);
    white-space: nowrap;
    font-size: 50px;
    color: #a2a2a2;
  }
}