@charset "UTF-8";
@media (max-width: 767px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  .back-button {
    display: none;
  }
  .content {
    height: 25%;
  }
  .content h1 {
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
  }
  .big-circle {
    width: 300px; /* 큰 원의 너비 */
    height: 300px; /* 큰 원의 높이 */
    border-radius: 50%; /* 원 모양을 위한 반지름 설정 */
    border: 1px dashed #fff; /* 큰 원의 점선 스타일 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
  }
  .big-circle .small-circle {
    width: 200px; /* 작은 원의 너비 */
    height: 200px; /* 작은 원의 높이 */
    border-radius: 50%; /* 원 모양을 위한 반지름 설정 */
    border: 1px dashed #fff; /* 작은 원의 점선 스타일 */
    margin: auto; /* 가운데 정렬을 위해 margin을 auto로 설정 */
  }
  #mars {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
    background-image: url("..pages/images/space_backgroud.png");
    background-size: cover;
  }
  .content {
    height: 25%;
  }
  .content .title {
    text-align: center;
    color: #ffffff;
    font-size: 65px;
  }
  .animation-container {
    height: 20%;
    width: 100%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
  .animation-container .moving-text-left {
    font-size: 45px;
    color: #a2a2a2;
  }
  .animation-container .moving-text-left:hover {
    color: rgb(108, 108, 216);
  }
  .animation-container .moving-text-center {
    font-size: 45px;
    color: #a2a2a2;
  }
  .animation-container .moving-text-center:hover {
    color: rgb(240, 90, 90);
  }
  .animation-container .moving-text-right {
    font-size: 45px;
    color: #a2a2a2;
  }
  .animation-container .moving-text-right:hover {
    color: rgb(255, 184, 69);
  }
  #mars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }
}