// 모바일 버전 스타일

@media (max-width: 767px) {
  .three {
    .box {
      .top {
        text-align: center;
        overflow: hidden;
        padding-top: 240px;
        height: 30%;
        padding-left: 32px;
        padding-right: 32px;
        h1 {
          font-size: 26px;
          color: #ffffff;
        }
        h4 {
          margin-top: 64px;
          color: #ffffff;
        }
      }
      .gallery {
        height: 70%;
        .cards {
          width: 100%;
          li {
            list-style: none;
            height: 285px;
            width: 225px;
            background-color: #9d7cce;
            position: absolute;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

// PC 버전 스타일
@media (min-width: 1024px) {
  .three {
    .top {
      height: 20%;
      padding-top: 64px;
      text-align: center;
      h1 {
        color: #ffffff;
        font-size: 48px;
        margin-bottom: -30px;
      }
      h4 {
        margin-top: 48px;
        color: #ffffff;
        font-size: 24px;
      }
    }
    .gallery {
      margin-top: 100px;
      height: 80%;
      overflow: hidden;
      .cards {
        padding-left: 108px;
        li {
          list-style: none;
          height: 500px;
          width: 400px;
          background-color: #fff;
          position: absolute;
          opacity: 0.9;
          border-radius: 30px;
          img {
            border-radius: 30px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
          }
          h3 {
            position: absolute;
            top: -80;
            left: 35%;
            color: #fff;
          }
          .marker_box {
            width: 50%;
            margin-top: 90%;
            background-color: #d4a874;
            height: 50px;
            display: flex;
            border-radius: 0px 10px 10px 0px;
            padding-left: 24px;
            h4 {
              justify-content: center;
              color: #fff;
            }
          }

          h2 {
            padding-left: 24px;

            color: #fff;
          }
        }
      }
      .actions {
      }
    }
  }
}
