// 모바일 버전 스타일
@media (max-width: 767px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
}

// PC 버전 스타일
@media (min-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }

  #header {
    width: 100%;
    height: 100px;
    padding: 30px;
    #logo {
      width: 100px;
      height: 100px;
    }
  }

  .content {
    height: 100%;
    #section1 {
      #title_box {
        div {
          width: 100%;
          display: flex;
          justify-content: center;
          h1 {
            font-size: 96px;
            color: white;
          }
          h2 {
            font-size: 60px;
            color: white;
          }
        }
      }
      .section {
        width: 100%;
        height: 300px;
        background-color: blue;
      }
    }
  }

  .section {
    height: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
}
