// 모바일 버전 스타일
@media (max-width: 767px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }

  .content {
    height: 100%;
    h1 {
      text-align: center; 
      color: white;
      font-size: 60px;
    }
  }
}

// PC 버전 스타일
@media (min-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }

  .content {
    height: 25%;
    h1 {
      text-align: center;
      color: #ffffff;
      font-size: 60px;
    }
  }

  .animation-container {
    position :relative;
    height: 25%;
    .moving-text-left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-10%);
      white-space: nowrap;
      font-size: 60px;
      color: #a2a2a2;
    }
    .moving-text-center {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-10%);
      white-space: nowrap;
      font-size: 60px;
      color: #a2a2a2;
    }
    .moving-text-right {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-10%);
      white-space: nowrap;
      font-size: 60px;
      color: #a2a2a2;
    }
  }

}
