// 모바일 버전 스타일
@media (max-width: 767px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }

  .content {
    height: 100%;
    h1 {
      text-align: center; 
      color: white;
      font-size: 60px;
    }
  }
}

// PC 버전 스타일
@media (min-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }

  .content {
    height: 25%;
    .title {
      text-align: center;
      color: #ffffff;
      font-size: 60px;
    }
  }

  .animation-container {
    position :relative;
    height: 25%;
    text-align: center;
    .moving-text-left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-10%);
      white-space: nowrap;
      font-size: 50px;
      color: #a2a2a2;
      &:hover {
        color: rgb(108, 108, 216);
      }
    }
    .moving-text-center {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-10%);
      white-space: nowrap;
      font-size: 50px;
      color: #a2a2a2;
      &:hover {
        color: rgb(240, 90, 90);
      }
    }
    .moving-text-right {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-10%);
      white-space: nowrap;
      font-size: 50px;
      color: #a2a2a2;
      &:hover {
        color: rgb(255, 184, 69);
      }
    }
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2개의 열 */
    grid-template-rows: 1fr 1fr; /* 2개의 행 */
    gap: 20px; /* 박스 간격 설정 */
    .body-text-left {
      height: 50%;
      text-align: center;
      h3 {
      color: white;
      font-size: 30px;
      }
      p {
      color: white;
      font-size: 15px;
      }
    } 
  }
  .body-text-center{
    height: 50%;
    text-align: center;
      h3 {
      color: white;
      font-size: 30px;
      }
      p {
      color: white;
      font-size: 15px;
      }
  }
  .body-text-right{
    height: 50%;
    text-align: center;
      h3 {
      color: white;
      font-size: 30px;
      }
      p {
      color: white;
      font-size: 15px;
      }
  }
}
