// 모바일 버전 스타일
@media (max-width: 767px) {
  .two {
    .back-button {
      display: none;
    }

    .animation-container-PC {
      display: none;
    }

    .content {
      height: 25%;
      .title {
        padding-top: 90px;
        text-align: center;
        color: #ffffff;
        font-size: 40px;
      }
    }

    .big-circle {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 0.3px dashed #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 150%;
      transform: translate(-50%, -30%);
      .small-circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 0.3px dashed #fff;
        margin: auto;
      }
    }

    .animation-container-M {
      height: 20%;
      width: 100%;
      display: flex;
      position: absolute;
      left: 50%;
      top: 150%;
      transform: translate(-50%, -50%);
      justify-content: center;
      .moving-text-top {
        font-size: 35px;
        color: #fff;
        transform: translate(-20%, 0%);
        &:hover {
          color: rgb(108, 108, 216);
        }
      }
      .moving-text-middle {
        font-size: 35px;
        color: #fff;
        transform: translate(140%, 120%);
        &:hover {
          color: rgb(240, 90, 90);
        }
      }
      .moving-text-bottom {
        font-size: 35px;
        color: #fff;
        transform: translate(-55%, 240%);
        &:hover {
          color: rgb(255, 184, 69);
        }
      }
    }

    #mars {
      position: absolute;
      top: 200%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px;
    }
  }
}

// PC 버전 스타일
@media (min-width: 1024px) {
  .two {
    .slide {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      position: relative;
      width: 100%;
      user-select: none;
      .slide_item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0px;
        width: 100%;
        height: 100vh;
        flex-shrink: 0;
        transition: left 0.5s;
      }
    }

    .slide_one {
      h1 {
        font-size: 64px;
        color: #a2a2a2;
      }
    }

    .slide_three {
      h1 {
        font-size: 64px;
        color: #a2a2a2;
      }
    }

    .main {
      .content {
        display: flex;
        .title {
          color: #ffffff;
          font-size: 120px;
          margin-top: -300px;
        }
      }
      .animation-container-M {
        display: none;
      }

      .animation-container-PC {
        height: 20%;
        width: 100%;
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        .moving-text-left {
          font-size: 64px;
          color: #a2a2a2;
          &:hover {
            color: rgb(108, 108, 216);
          }
        }
        .moving-text-center {
          font-size: 64px;
          color: #a2a2a2;
          &:hover {
            color: rgb(240, 90, 90);
          }
        }
        .moving-text-right {
          font-size: 64px;
          color: #a2a2a2;
          &:hover {
            color: rgb(255, 184, 69);
          }
        }
      }
    }
  }
}
